<img src="/assets/backgroundlogistic.png" class="backgraud-photo ">
<div class=""><img src="assets/modified ati logo.png" class="logo-class circlearoundimage"/></div>
<div class="containers">
  <div class="row">
    <table  class="class-for-table">
      <th class="backgraund top-left">Supplier</th>
      <th class="backgraund-two">Invoice No.</th>
      <th class="backgraund">Inv. Amount</th>
      <th class="backgraund-two"> <img src=''>swift</th>
      <th class="backgraund">Supplier Readiness</th>
      <th class="backgraund-two">Legalization</th>
      <th class="backgraund">Pick Up</th>
      <th class="backgraund-two">Type</th>
      <th class="backgraund">Dep.</th>
      <th class="backgraund-two">ETA</th>
      <th class="backgraund">Bank</th>
      <th class="backgraund-two">Clearance</th>
      <th class="backgraund">NTRA</th>
      <th class="backgraund-two">Nat. Security</th>
      <th class="backgraund top-right">Gate in </th>
    
      <tr *ngFor = "let item of this.alldata " >
        <td [style.color]="item.background"  class="colom-style">{{item.supplier}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.invoiceno}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.invamount| currency}} {{item.currency}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.swift}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.supplierreadiness}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.legalization}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.pickup}}</td>
        <td [style.color]="item.background" class="colom-style"><img *ngIf="item.shippingtype === '1'" style="max-height:20px;" src="/assets/ship.png"><img *ngIf="item.shippingtype === '2'" style="max-height:20px;" src="/assets/flight.png"><img style="max-height:15px;" *ngIf="item.shippingtype === '3'" src="/assets/dhl.png"></td>
        <td [style.color]="item.background" class="colom-style">{{item.shippingdep}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.shippingeta}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.bank}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.clearance}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.ntra}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.nationalsecurity}}</td>
        <td [style.color]="item.background" class="colom-style">{{item.gatein}}</td>
      </tr>
    </table>

  </div>
</div>

<div class="totals">
  <span><h4>Total USD: {{total_usd}}, Total EUR: {{total_euro}}</h4></span>
</div>