<img src="/assets/backgroundlogistic.png" class="backgraud-photo ">
<div class=""><img src="assets/modified ati logo.png" class="logo-class circlearoundimage"/></div>
<div class="containers">
  <div class="row">
    <table  class="class-for-table">
      <th class="backgraund top-left">Supplier</th>
      <th class="backgraund top-left">Project</th>
      <th class="backgraund-two">Invoice No.</th>
      <th class="backgraund">Inv. Amount</th>
      <th class="backgraund-two"> <img src=''>swift</th>
      <th class="backgraund">Supplier Readiness</th>
      <th class="backgraund-two">Legalization</th>
      <th class="backgraund">Pick Up</th>
      <th class="backgraund-two">Type</th>
      <th class="backgraund">Dep.</th>
      <th class="backgraund-two">ETA</th>
      <th class="backgraund">Bank</th>
      <th class="backgraund-two">Clearance</th>
      <th class="backgraund">NTRA</th>
      <th class="backgraund-two">Nat. Security</th>
      <th class="backgraund top-right">Gate in </th>
    
      <tr *ngFor = "let item of this.alldata " >
        <td [style.color]="item.background"  class="colom-style">{{item[0]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[1]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[2]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[3]| currency}} {{item[4]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[5]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[6]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[7]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[8]}}</td>
        <td [style.color]="item.background" class="colom-style"><img *ngIf="item[9] === 'ship'" style="max-height:20px;" src="/assets/ship.png"><img *ngIf="item[9]  === 'air'" style="max-height:20px;" src="/assets/flight.png"><img style="max-height:15px;" *ngIf="item[9]  === 'dhl'" src="/assets/dhl.png"></td>
        <td [style.color]="item.background" class="colom-style">{{item[10]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[11]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[12]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[13]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[14]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[15]}}</td>
        <td [style.color]="item.background" class="colom-style">{{item[16]}}</td>
      </tr>
    </table>

  </div>
</div>

<div class="totals">
  <span><h4>Total USD: {{total_usd}}, Total EUR: {{total_euro}}</h4></span>
</div>