.al-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:98%;
    max-width:98%;
    font-size: 1.1vw;
    padding-top: 20px;
}
.backgraund{
    border: none;
    background-color: #FB4250;
    color: #ffffff;
    text-align: center;

}
.logo-class{
   /* width: 15%; */
   max-height:60px;
   margin-left: 20px;
   margin-top: 20px; 
   padding:10px;
}
.circlearoundimage{
    background-color:white;
    border-radius:30px;
 
}
.backgraund-two{
    border: none;
    background-color: #FB4250;
    color: #ffffff;
    text-align: center;
}
.colom-style{
    border: none;
    border-radius: 0;
    padding: 20px;
    text-align: center;
    color: #000000 ;
    background-color: #ffffff;
}

th{
    border-radius: 0;
 
}

.top-right{
    border-top-right-radius: 10px;
}
.top-left{
    border-top-left-radius: 10px;
}
table{
    font-family: 'Montserrat', sans-serif;

}

.backgraud-photo{
    z-index: -100;
    position: fixed;
    width:100%;
    height:100%;
}
.class-for-table{
   padding-left: 10px;
   padding-right: 10px; 
   margin-top: 10px;
   font-size:0.6vw;
   border-radius:4;
}

.containers{
    padding:10px;
}

.totals{
    color:white;
    position:fixed;
    right:250px;
    top:8px;
}
